.App {
}

.Header {
  padding: 20px;
  text-align: center;
  background-color: #2e294e;
  margin-bottom: 40px;
}

.Header h1 {
  font-weight: 300;
  color: #fff;
  margin: 0;
}

.Container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
}
