.Tag {
  display: inline-block;
  background-color: #2e294e;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 2px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
